/* This will override default styling applied by browser */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
}

header {
  background-color: blueviolet;
}

main {
  background-color: antiquewhite;
}

footer {
  background-color: red;
}
