/* Custom font from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap");

/* This will override default styling applied by browser */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  color: #3f4244;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
}

p {
  line-height: 30px;
  letter-spacing: 1px;
}

h1,
#menu li,
h4 {
  letter-spacing: 2px;
}

h2,
h3 {
  letter-spacing: 4px;
}

.center-align {
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}

header {
  padding: 15px 15px 0;
  width: 100%;
  position: fixed;
  z-index: 9;
  background-color: #fff;
}
/* nav menu anchor tags */
nav a {
  font-weight: 400;
}

header a:hover {
  text-decoration: none;
}

nav a:hover {
  padding: 5px;
  background-color: rgba(86, 117, 104, 0.2);
  border-radius: 5px;
}

#logo {
  text-transform: uppercase;
  color: #3f4244;
  font-size: 1.5em;
  display: inline;
}

#menu {
  list-style-type: none;
  margin-top: 0.5rem;
}

#menu li {
  letter-spacing: 2px;
  display: inline;
  font-size: 90%;
  padding-right: 10px;
}

#menu a {
  color: #3f4244;
}

main {
  flex: 1 0 auto;
  margin-top: 92px;
}

#hero-container {
  position: relative;
}

#hero-bg-img {
  background: url("../images/pexels-marek-levak-2275221.webp") no-repeat center;
  height: 600px;
}

#overlay-text {
  position: absolute;
  right: 0;
  left: 0;
  margin: auto;
  bottom: 3%;
}

#overlay-text h4 {
  color: #f4f1de;
  padding: 17px 25px;
  border-radius: 8px;
  max-width: 460px;
  margin: auto;
  background-color: rgba(86, 117, 104, 0.3);
  text-align: center;
  letter-spacing: 4px;
}

#about-section {
  padding: 30px 12.5% 0px;
  text-align: center;
  /* width: 75%; */
  /* margin: 0 auto; */
  /* max-width: 400px; */
  /* padding-top: 20px; */
}

.cat-content-wrapper {
  padding: 20px 12.5% 1px;
  text-align: center;
}

.green-bg {
  background-color: rgba(86, 117, 104, 0.2);
}

.about-sec-cat {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.about-sec-cat img {
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

.about-sec-cat h4 {
  padding: 15px 10px 10px;
  margin: 0;
  color: #3f4244;
  /* text-transform: uppercase; */
}

.about-sec-cat a:hover {
  text-decoration: none;
}

.about-sec-cat h4:hover {
  padding: 15px 10px 10px;
  background-color: rgba(86, 117, 104, 0.2);
  border-radius: 5px;
}

.cat-content-wrapper p {
  max-width: 500px;
  margin: 0 auto 1rem;
}

.cat-content-img {
  max-width: 100%;
  height: auto;
  margin: 1rem 0;
  border-radius: 8px;
}

#form-section {
  position: relative;
  width: 100%;
}

#form-bg-video {
  height: 750px;
  width: 100%;
  object-fit: cover;
}

#form-overlay {
  /* background-color: rgba(86, 117, 104, 0.7); */
  background-color: rgba(243, 213, 165, 0.702);
  /* background-color: #f5f5ee; */
  /* background-color: #cfc4a7; */
  /* background-color: #f4f1de; */
  position: absolute;
  max-width: 300px;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
  top: 5%;
  bottom: 5%;
  left: 0;
  right: 0;
  margin: auto;
  /* color: #f4f1de; */
}

#form-overlay h2 {
  margin-bottom: 1rem;
}

label {
  margin: 0;
  font-weight: 400;
}

.text-input {
  border-radius: 3px;
  background: transparent;
  width: 100%;
  padding: 10px;
  border: 1px solid #fff;
  margin: 5px 0 15px;
  color: #757575;
}

.text-input:hover {
  border-color: #3f4244;
}

textarea {
  height: 100px;
}

#share-btn {
  padding: 5px 32px;
  border-radius: 22px;
  background-color: #fff;
  color: #3f4244;
  font-size: 120%;
  margin: 0 auto;
  border: none;
  text-align: center;
}

#share-btn:hover {
  background-color: #3f4244;
  color: #efefef;
  cursor: pointer;
}

#footer-menu {
  display: flex;
  list-style-type: none;
  font-size: 150%;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  margin: 0;
  padding: 28px 0px;
}

#footer-menu a {
  color: #3f4244;
}
